<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @team_member.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @team_member.lastname %>
</p>

<p>
  <b>Team:</b>
  <%= @team_member.team_id %>
</p>


<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
