<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", team_members_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_team_member_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> TeamMembers</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.team_member.firstname", :default => t("activerecord.labels.firstname", :default => "Firstname")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @team_members.each do |team_member| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= team_member.id %>
          </td>
                    <td>
            <%= link_to team_member.firstname, team_member_path(team_member) %>
          </td>
                    <td>
            <%= team_member.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", team_member_path(team_member) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_team_member_path(team_member) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", team_member_path(team_member), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
