<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>City:</b>
  <%= @team.city %>
</p>

<p>
  <b>State:</b>
  <%= @team.state %>
</p>

<p>
  <b>Country:</b>
  <%= @team.country %>
</p>

<% if !@team.team_members.empty? %>
<h2>Members</h2>
<p>
  <ul>
    <% @team.team_members.each do |member| %>
      <li>
        <%= member.firstname %> <%= member.lastname %>
      </li>  
    <% end %>
  </ul>
</p>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
