<%= form_for(@lap) do |f| %>
  <% if @lap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lap.errors.count, "error") %> prohibited this lap from being saved:</h2>

      <ul>
      <% @lap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bots_id %><br />
    <%= f.text_field :bots_id %>
  </div>
  <div class="field">
    <%= f.label :lap_time %><br />
    <%= f.time_select :lap_time %>
  </div>
  <div class="field">
    <%= f.label :corners_completed %><br />
    <%= f.text_field :corners_completed %>
  </div>
  <div class="field">
    <%= f.label :disqualified %><br />
    <%= f.check_box :disqualified %>
  </div>
  <div class="field">
    <%= f.label :heats_id %><br />
    <%= f.text_field :heats_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
