<h1>Listing laps</h1>

<table>
  <tr>
    <th>Bots</th>
    <th>Lap time</th>
    <th>Corners completed</th>
    <th>Disqualified</th>
    <th>Heats</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @laps.each do |lap| %>
  <tr>
    <td><%= lap.bots_id %></td>
    <td><%= lap.lap_time %></td>
    <td><%= lap.corners_completed %></td>
    <td><%= lap.disqualified %></td>
    <td><%= lap.heats_id %></td>
    <td><%= link_to 'Show', lap %></td>
    <td><%= link_to 'Edit', edit_lap_path(lap) %></td>
    <td><%= link_to 'Destroy', lap, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lap', new_lap_path %>
