<p id="notice"><%= notice %></p>

<p>
  <b>Bots:</b>
  <%= @lap.bots_id %>
</p>

<p>
  <b>Lap time:</b>
  <%= @lap.lap_time %>
</p>

<p>
  <b>Corners completed:</b>
  <%= @lap.corners_completed %>
</p>

<p>
  <b>Disqualified:</b>
  <%= @lap.disqualified %>
</p>

<p>
  <b>Heats:</b>
  <%= @lap.heats_id %>
</p>


<%= link_to 'Edit', edit_lap_path(@lap) %> |
<%= link_to 'Back', laps_path %>
