<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", views_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_view_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", view_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.view.display_type", :default => t("activerecord.labels.display_type", :default => "Display type")) %>:</b>
          <%= @view.display_type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.view.display_type_id", :default => t("activerecord.labels.display_type_id", :default => "Display type")) %>:</b>
          <%= @view.display_type_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_view_path(@view), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), view_path(@view), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>